<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Food Tracker</title>

</head>

<style>
    button {
        margin: 1%;
    }
</style>

<body>

<div class="container">

    <div class="starter-template">
        <h1>Hello, it's a foodTracker</h1>

        <form class="button" th:action="@{/login}" method="GET">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>

        <form class="button" th:action="@{/registration}" method="GET">
            <button class="btn btn-primary" type="submit">SignUp</button>
        </form>

        <!--        <form action="/registration" method="get">-->
        <!--            <input type="submit" value="SignUp">-->
        <!--        </form>-->
        <!--        <form>-->
        <!--            <input type="button" onclick="location.href='http://localhost:8080/registration';" value="SignUp"/>-->
        <!--        </form>-->
    </div>
</div>

</body>
</html>